@import "./styles/global.css";

/* App base container reset */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-primary);
  overflow: hidden;
}
